body{
font-family: Arial;
background:#f3f8f5;
text-align:center;
}

.post-box{
margin:20px;
}

textarea{
width:300px;
height:80px;
padding:10px;
}

button{
padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

.post{
background:white;
width:300px;
margin:10px auto;
padding:10px;
border-radius:10px;
box-shadow:0 0 5px rgba(0,0,0,0.1);
}
